* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
  counter-reset: services;
}

a,
li {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

:root {
  --blue: #2196f3;
  --grey: #ececec;
  --sec_text: #777;
  --main_transition: 0.3s;
  --section_padding: 5rem 0;
}

.container {
  width: 75%;
  margin: auto;
  flex-wrap: wrap;
}

section {
  padding: var(--section_padding);
}

nav {
  background-color: white;
  width: 100%;
}
nav .container {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}
nav .navLeft {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav h3 {
  color: var(--blue);
  font-weight: 900;
  font-size: 1.8rem;
}
nav .navRight {
  display: flex;
  gap: 3rem;
  font-size: large;
}
nav .navRight > li {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem 1vw;
}
nav .navRight > li p {
  min-width: 100%;
}
nav .navRight > li::before {
  content: "";
  background-color: var(--blue);
  height: 0.3rem;
  width: 0%;
  position: absolute;
  top: 0;
  left: 0;
  transition: width var(--main_transition) linear;
  -webkit-transition: width var(--main_transition) linear;
  -moz-transition: width var(--main_transition) linear;
  -ms-transition: width var(--main_transition) linear;
  -o-transition: width var(--main_transition) linear;
}
nav .navRight > li:hover::before {
  width: 100%;
}
nav .navRight > li:hover {
  background-color: transparent;
}
nav .navRight > li.last:hover ~ .mega_menu {
  display: flex;
  opacity: 1;
  top: calc(100% - 5px);
}
nav .navRight .mega_menu {
  display: flex;
  justify-content: space-between;
  position: absolute;
  gap: 1rem;
  top: calc(100% + 30px);
  left: 0;
  opacity: 0;
  color: var(--blue);
  background-color: white;
  z-index: 3;
  width: 100%;
  border-bottom: 0.1rem solid var(--blue);
  padding: 2rem;
  transition: top var(--main_transition), opacity var(--main_transition);
}
nav .navRight .mega_menu .center,
nav .navRight .mega_menu .right {
  width: 100%;
}
nav .navRight .mega_menu .left img {
  background-size: cover;
}
nav .navRight .mega_menu ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
nav .navRight .mega_menu li {
  padding: 0.5rem 0;
  z-index: 33;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  position: relative;
  transition: all var(--main_transition) ease-in-out;
}
nav .navRight .mega_menu li:not(:last-child) {
  border-bottom: 0.1rem solid #e9e6e6;
}
nav .navRight .mega_menu li:hover::before {
  width: 100%;
}
nav .navRight .mega_menu li::before {
  content: "";
  background-color: #fafafa;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  opacity: 0.5;
}
nav .navRight .mega_menu li p {
  width: 100%;
}

@media (width < 970px) {
  .container {
    flex-direction: column;
  }
  .navRight {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 !important;
  }
}
@media (width < 1200px) {
  .navRight .mega_menu .left {
    display: none;
  }
}
@media (width < 767px) {
  .mega_menu {
    flex-direction: column;
  }
  .mega_menu .center,
  .mega_menu .right {
    width: 100%;
  }
  .navRight p {
    font-size: 0.5rem;
  }
}
#landing {
  height: calc(100vh - 5rem);
  position: relative;
}
#landing::before {
  overflow: hidden;
  z-index: -1;
  content: "";
  position: absolute;
  top: -2rem;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skewY(-6deg);
  transform-origin: top left;
  background-color: var(--grey);
}
#landing .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  z-index: 100;
}
#landing .landTop {
  display: flex;
  justify-content: center;
  align-items: center;
}
#landing .landTop .landLeft {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#landing .landTop .landLeft h2 {
  font-size: 2.5rem;
  font-weight: 900;
}
#landing .landTop .landLeft p {
  font-size: 1.7rem;
  color: #666;
  line-height: 2.5rem;
}
#landing .landTop .landRight img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  animation: updown 2s infinite alternate;
}
#landing .landBottom {
  position: absolute;
  bottom: 1.5rem;
  margin-left: 50%;
  transform: translateX(-50%);
  animation: bounce 2s infinite;
  color: var(--blue);
}

@keyframes updown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-3rem);
  }
}
@keyframes bounce {
  0%, 10%, 20%, 50%, 100% {
    transform: translateY(0);
  }
  40%, 70% {
    transform: translateY(-1rem);
  }
}
@media (width < 980px) {
  .landTop .landRight {
    display: none;
  }
  .landLeft {
    text-align: center;
  }
}
@media (width < 600px) {
  .landLeft p {
    font-size: 1.2rem !important;
  }
}
#articles {
  display: flex;
  justify-content: center;
  align-items: center;
}
#articles .container {
  display: flex;
  flex-direction: column;
}
#articles .container .grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 2rem;
}
#articles .container .grid .item {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.31);
  transition: all var(--main_transition) ease-in;
}
#articles .container .grid .item:hover {
  transform: translateY(-1rem);
  box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.87);
}
#articles .container .grid .item:hover .bottom i {
  animation: arrow var(--main_transition) infinite alternate;
}
#articles .container .grid .item .top img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#articles .container .grid .item .center {
  padding: 1rem 1.2rem;
}
#articles .container .grid .item .center h5 {
  font-size: 1.2rem;
}
#articles .container .grid .item .center p {
  color: #666;
}
#articles .container .grid .item .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.2rem;
  color: var(--blue);
  font-weight: 700;
  border-top: 1px solid #e6e6e7;
}
#articles .container .grid .item .bottom i {
  transition: all 0.8s;
}

@keyframes arrow {
  to {
    transform: translateX(0.5rem);
  }
}
.specialHeading {
  margin-bottom: 6rem;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.1rem solid black;
  padding: 0.1rem 1rem;
  position: relative;
}
.specialHeading:hover {
  color: white;
  transition-delay: var(--main_transition);
}
.specialHeading:hover::before {
  animation: moveRight var(--main_transition) forwards;
}
.specialHeading:hover::after {
  animation: moveLeft var(--main_transition) forwards;
}
.specialHeading h2 {
  font-size: 1.6rem;
  font-weight: 900;
  text-transform: uppercase;
}
.specialHeading::before, .specialHeading::after {
  content: "";
  position: absolute;
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
  background-color: var(--blue);
  top: 50%;
  transform: translateY(-50%);
}
.specialHeading::before {
  left: -1.5rem;
}
.specialHeading::after {
  right: -1.5rem;
}

@keyframes moveRight {
  to {
    left: 0;
    border-radius: 0;
    width: 51%;
    height: 100%;
    z-index: -1;
  }
}
@keyframes moveLeft {
  to {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
  }
}
#gallery {
  position: relative;
  background-color: var(--grey);
}
#gallery::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}
#gallery .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 2rem;
}
#gallery .grid .item {
  max-width: 100%;
  padding: 1rem;
  box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.42);
}
#gallery .grid .item:hover img {
  transform: rotate(5deg) scale(1.1);
}
#gallery .grid .item .box {
  overflow: hidden;
  position: relative;
}
#gallery .grid .item .box::before {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  height: 0;
  width: 0;
  transition: all var(--main_transition) ease-in-out;
  z-index: 9999;
}
#gallery .grid .item:hover .box::before {
  height: 100%;
  width: 100%;
  animation: flash var(--main_transition) forwards;
}
@keyframes flash {
  50%, 60%, 70%, 80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#gallery .grid img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all var(--main_transition);
}

#features .grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
#features .grid .item {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#features .grid .item .imgContainer {
  transition: all var(--main_transition) ease-in-out;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0 85%);
          clip-path: polygon(0 0, 100% 0, 100% 60%, 0 85%);
  position: relative;
}
#features .grid .item .imgContainer::before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
#features .grid .item:hover button {
  color: white !important;
}
#features .grid .item:hover button::before {
  left: 0;
}
#features .grid .item:hover .imgContainer {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 60%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 60%);
}
#features .grid .item img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#features .grid .item h3 {
  letter-spacing: 0.2rem;
  font-size: 2rem;
  font-weight: 900;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
#features .grid .item h3::after {
  content: "";
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  height: 0.4rem;
  width: 75%;
}
#features .grid .item:nth-child(1) h3::after {
  background-color: #f44036;
}
#features .grid .item:nth-child(1) button {
  color: #f44036;
  border: 0.2rem solid #f44036;
}
#features .grid .item:nth-child(1) button::before {
  background-color: #f44036;
}
#features .grid .item:nth-child(1) .imgContainer::before {
  background-color: rgba(244, 64, 54, 0.6);
}
#features .grid .item:nth-child(2) h3::after {
  background-color: #009688;
}
#features .grid .item:nth-child(2) button {
  color: #009688;
  border: 0.2rem solid #009688;
}
#features .grid .item:nth-child(2) button::before {
  background-color: #009688;
}
#features .grid .item:nth-child(2) .imgContainer::before {
  background-color: rgba(0, 150, 136, 0.6);
}
#features .grid .item:nth-child(3) h3::after {
  background-color: #03a9f4;
}
#features .grid .item:nth-child(3) button {
  color: #03a9f4;
  border: 0.2rem solid #03a9f4;
}
#features .grid .item:nth-child(3) button::before {
  background-color: #03a9f4;
}
#features .grid .item:nth-child(3) .imgContainer::before {
  background-color: rgba(3, 169, 244, 0.6);
}
#features .grid .item p {
  text-align: center;
  color: #777;
  line-height: 2rem;
  font-size: 1.2rem;
  padding: 4rem 1rem;
}
#features .grid .item button {
  border-radius: 0.5rem;
  overflow: hidden;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: white;
  font-size: 1.2rem;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  position: relative;
  transition: all var(--main_transition) linear;
}
#features .grid .item button::before {
  transition: all var(--main_transition) linear;
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#testimonials {
  background-color: var(--grey);
}
#testimonials .grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}
#testimonials .grid .item {
  position: relative;
  background-color: white;
  padding: 1rem;
}
#testimonials .grid img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  border: 0.5rem solid var(--grey);
  position: absolute;
  top: -2.5rem;
  right: -0.1rem;
}
#testimonials .grid h5 {
  font-weight: 900;
  font-size: 80%;
}
#testimonials .grid h6 {
  font-weight: normal;
  color: #777;
  font-size: 80%;
}
#testimonials .grid .rating {
  color: goldenrod;
}
#testimonials .grid p {
  color: #777;
}

#members .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  gap: 2rem;
}
#members img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.7rem;
  height: 70%;
  transition: var(--main_transition);
}
#members .item {
  padding-top: 3rem;
  padding-right: 3rem;
  position: relative;
  overflow: hidden;
}
#members .item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f3f3f3;
  height: 100%;
  width: 80%;
  z-index: -1;
  border-radius: 0.7rem;
}
#members .item::after {
  content: "";
  position: absolute;
  background-color: #e4e4e4;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: var(--main_transition);
  border-radius: 0.7rem;
}
#members .item:hover::after {
  width: 80%;
}
#members .item:hover img {
  filter: grayscale(100%);
}
#members .item .img_social {
  width: 100%;
  z-index: 2;
  display: flex;
  gap: 1.5rem;
}
#members .item .img_social .social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  transform: translateX(-50%);
  color: #777;
  font-size: 1.5rem;
}
#members .item .img_social .social i {
  cursor: pointer;
  transition: var(--main_transition);
}
#members .item .img_social .social i:hover {
  color: var(--blue);
}
#members .item .info {
  padding: 1rem 0 1rem 6rem;
}
#members .item .info h3 {
  color: var(--blue);
  font-size: 1.3rem;
}

#services {
  position: relative;
  background-color: var(--grey);
}
#services::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}
#services .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 3rem;
}
#services .grid .item {
  background-color: white;
  counter-increment: services;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 19px -5px rgba(0, 0, 0, 0.63);
  position: relative;
  transition: var(--main_transition);
}
#services .grid .item:hover {
  transform: translateY(-1rem);
}
#services .grid .item:hover::before {
  width: 100%;
}
#services .grid .item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 0.2rem;
  width: 0;
  background-color: var(--blue);
  transition: var(--main_transition);
}
#services .grid .item .top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
  color: #d5d5d5;
}
#services .grid .item .top h3 {
  color: var(--blue);
  font-size: 1.5rem;
  font-weight: 900;
}
#services .grid .item .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 2rem;
  position: relative;
  background-color: #f9f9f9;
  overflow: hidden;
}
#services .grid .item .bottom::before, #services .grid .item .bottom::after {
  position: absolute;
  bottom: 0;
  height: 100%;
}
#services .grid .item .bottom::before {
  left: 0;
  background-color: var(--blue);
  content: "0" counter(services);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
  padding-right: 1.2rem;
}
#services .grid .item .bottom::after {
  content: "";
  left: 20%;
  transform: skewX(-30deg);
  width: 15%;
  background-color: #d5d5d5;
}

#skills .content {
  display: flex;
}
#skills .left {
  display: flex;
  justify-content: center;
  align-items: center;
}
#skills .left img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#skills .right {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
}
#skills .right .skill {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#skills .right .skill:first-child .bar::before, #skills .right .skill:last-child .bar::before {
  width: 80%;
}
#skills .right .skill:nth-child(2) .bar::before {
  width: 85%;
}
#skills .right .skill:nth-child(3) .bar::before {
  width: 70%;
}
#skills .right .skill .name_stat {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
#skills .right .skill .name_stat h6 {
  font-size: 1.2rem;
  text-transform: uppercase;
}
#skills .right .skill .name_stat p {
  border: 0.1rem solid #ccc;
  border-radius: 0.2rem;
  padding: 0.1rem;
  color: var(--blue);
  font-weight: 900;
  font-size: small;
  background-color: white;
}
#skills .right .skill .bar {
  position: relative;
  width: 100%;
  height: 2rem;
  background-color: #eee;
}
#skills .right .skill .bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--blue);
  z-index: 2;
}
@media (width < 767px) {
  #skills .content .left {
    display: none;
  }
}

#work {
  background-color: var(--grey);
}
#work img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#work .content {
  z-index: 2000;
  display: flex;
  gap: 1rem;
}
#work .left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#work .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#work .right .box {
  display: flex;
  flex: 1;
  background-color: #f6f5f5;
  border: 1px solid white;
  padding: 1rem 2rem;
  gap: 2rem;
  position: relative;
  border-radius: 1rem;
}
#work .right .box:hover::before {
  width: 100%;
  height: 100%;
}
#work .right .box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  transition: var(--main_transition);
  background-color: rgba(213, 213, 213, 0.3);
  border-radius: 1rem;
}
#work .right .box img {
  width: 5rem;
}
#work .right .box .right {
  flex: 1;
}
#work .right .box .right h3 {
  font-weight: 900;
  font-size: 1.4rem;
}
#work .right .box .right p {
  color: #777;
}
@media (width < 1000px) {
  #work .content {
    flex-direction: column;
  }
}
@media (width < 767px) {
  #work .box {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

section .dots {
  background-image: url(./imgs/dots.png);
  position: absolute;
  height: 12rem;
  width: 12rem;
}
section .dots.up {
  top: 25%;
  right: 0;
}
section .dots.down {
  bottom: 20%;
  left: 0;
}

#event {
  position: relative;
}
#event .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
#event img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#event .content {
  display: flex;
}
#event .content .left {
  width: 40%;
}
#event .content .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 4rem;
}
#event .content .right .text {
  text-align: center;
}
#event .content .right .text h3 {
  font-size: 4vw;
  font-weight: 900;
}
#event .content .right .text p {
  color: #666;
  font-size: 80%;
  line-height: 2rem;
}
#event .content .timer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
#event .content .timer .box {
  border: 1px solid #d4d4d4;
  border-radius: 0.5rem;
  max-width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: var(--main_transition);
}
#event .content .timer .box:hover {
  border-color: var(--blue);
}
#event .content .timer .box:hover p {
  border-color: var(--blue);
}
#event .content .timer .box h6 {
  color: var(--blue);
  font-size: 3.5vw;
  padding: 1rem 0.5rem;
}
#event .content .timer .box p {
  border-top: 1px solid #d4d4d4;
  width: 100%;
  font-size: small;
}
#event .subscribe {
  background-color: #f6f5f5;
  border-radius: 10rem;
  padding: 2rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 100%;
}
#event .subscribe input {
  border-radius: 10rem;
  padding: 1.5rem 10rem;
  padding-left: 1rem !important;
  border: none;
  width: 100%;
}
#event .subscribe input:focus {
  outline: none;
}
#event .subscribe button {
  background-color: var(--blue);
  border-radius: 5rem;
  border: none;
  color: white;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
#event .subscribe button:hover {
  background-color: #1680d7;
}
@media (width < 1080px) {
  #event .content .left {
    display: none;
  }
}
@media (width < 800px) {
  #event .subscribe {
    flex-direction: column;
    border-radius: 0;
  }
  #event .subscribe input,
  #event .subscribe button {
    border-radius: 0;
  }
}

#pricing {
  background-color: var(--grey);
  position: relative;
}
#pricing .container {
  display: flex;
  gap: 2rem;
}
#pricing .plan.most {
  transform: translateY(-1rem);
}
#pricing .plan.most .label {
  color: white;
  font-weight: 900;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
  padding-top: 0.5rem;
  writing-mode: vertical-lr;
  position: absolute;
  top: 0;
  right: 1.5rem;
  background-color: var(--blue);
  width: 2.5rem;
  height: 10rem;
}
#pricing .plan.most .label::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-color: transparent transparent white;
  border-width: 1.5rem;
}
@media (width < 767px) {
  #pricing .plan.most {
    transform: translateY(0);
  }
}
#pricing .plan {
  position: relative;
  z-index: 900;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: white;
  box-shadow: -2px 1px 8px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 1px 8px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 1px 8px -2px rgba(0, 0, 0, 0.75);
  padding: 1rem 0;
}
#pricing .plan:hover::before, #pricing .plan:hover::after {
  width: 100%;
}
#pricing .plan::before, #pricing .plan::after {
  content: "";
  z-index: -1;
  background-color: #f6f6f6;
  position: absolute;
  height: 50%;
  width: 0;
  transition: var(--main_transition);
}
#pricing .plan::before {
  top: 0;
  left: 0;
}
#pricing .plan::after {
  bottom: 0;
  right: 0;
}
#pricing .plan .top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#pricing .plan .top h3 {
  font-size: 3.5rem;
  font-weight: 900;
  color: var(--blue);
  padding: 0;
}
#pricing .plan .top p {
  font-size: 1rem;
  color: #777;
}
#pricing .plan .top,
#pricing .plan .center,
#pricing .plan .bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pricing .plan .center {
  flex-direction: column;
}
#pricing .plan .center li {
  border-top: 1px solid #eee;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  font-size: 1.1rem;
  font-weight: normal;
}
#pricing .plan .center li i {
  color: var(--blue);
  margin-right: 1rem;
  font-weight: 900;
}
#pricing .plan h2 {
  font-weight: 900;
}
#pricing .plan img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 5rem;
}
#pricing .bottom {
  padding: 1.5rem 0;
}
#pricing button {
  background-color: white;
  color: var(--blue);
  border: 0.1rem solid var(--blue);
  border-radius: 0.4rem;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  transition: var(--main_transition);
  cursor: pointer;
}
#pricing button:hover {
  background-color: var(--blue);
  color: white;
}

#videos .container {
  border: 1px solid #ddd;
  display: flex;
}
#videos img {
  max-width: 100%;
  height: 75%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#videos .header {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
#videos .left {
  flex: 1;
}
#videos .left li {
  transition: var(--main_transition);
  padding: 1rem;
}
#videos .left li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
#videos .left li span {
  color: #666;
}
#videos .left li:hover p {
  color: var(--blue);
}
#videos .left li:hover {
  background-color: #fafafa;
}
#videos .right {
  flex: 3;
  padding: 1rem;
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
#videos .right h4 {
  background-color: white;
  padding: 1rem;
  font-weight: normal;
}

#stats {
  position: relative;
  background-image: url(imgs/stats.jpg);
  min-height: 300px;
}
#stats .container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#stats .container h2 {
  color: black;
  position: relative;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}
#stats::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
}
#stats .content {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
#stats .box {
  min-width: 15rem;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  background-color: white;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
  font-weight: 900;
}
#stats .box i {
  font-size: 2rem;
}
#stats .box h5 {
  font-size: 2.5rem;
}
#stats .box p {
  color: var(--blue);
  font-size: 1.2rem;
}
#stats .box::before, #stats .box::after {
  content: "";
  position: absolute;
  transition: var(--main_transition);
  width: 0.2rem;
  height: 0;
  background-color: var(--blue);
}
#stats .box::before {
  bottom: 0;
  left: 0;
}
#stats .box::after {
  top: 0;
  right: 0;
}
#stats .box:hover::before, #stats .box:hover::after {
  height: 100%;
}

#discount {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
#discount .left,
#discount .right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  padding: 4rem 0;
}
#discount .left .content,
#discount .right .content {
  width: 60%;
  z-index: 2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
#discount .left {
  position: relative;
  background-image: url(imgs/discount-background1.jpg);
  background-size: cover;
  color: white;
}
#discount .left::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 135, 224, 0.97);
}
#discount .left img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  width: 55%;
}
#discount .right input,
#discount .right textarea {
  width: 100%;
  background-color: #f9f9f9;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 1rem 3rem 1rem 1rem;
  caret-color: var(--blue);
}
#discount .right input:focus,
#discount .right textarea:focus {
  outline: none;
}
#discount h2 {
  font-size: 160%;
}
#discount button {
  background-color: var(--blue);
  color: white;
  padding: 1rem 2rem;
  border: none;
  width: 100%;
  cursor: pointer;
  font-size: 1.2rem;
}
#discount button:hover {
  background-color: #1680d7;
}

@media (width < 850px) {
  #discount {
    flex-direction: column;
  }
}
footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer i {
  color: var(--blue);
}
footer li p {
  width: 100%;
}
footer .col {
  flex: 1;
}
footer .container {
  display: flex;
  gap: 2rem;
}
footer img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .col:not(:last-child) {
  padding: 1.5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .col:not(:last-child) h2 {
  font-size: 2rem;
}
footer .col:not(:last-child) p {
  color: #b9b9b9;
}
footer .social {
  display: flex;
  gap: 1rem;
}
footer .social i {
  background-color: #313131;
  color: #b9b9b9;
  padding: 1rem;
}
footer .col:nth-child(2) li {
  transition: var(--main_transition);
}
footer .col:nth-child(2) i {
  color: var(--blue);
  margin-right: 0.5rem;
}
footer .col:nth-child(2) li:hover {
  transform: translateX(1rem);
}
footer .col:nth-child(3) li {
  display: flex;
  align-items: center;
  gap: 1rem;
}
footer .col:nth-child(3) li i {
  font-size: 1.5rem;
  width: -moz-fit-content;
  width: fit-content;
}
footer .col:nth-child(3) li .tel {
  width: 100%;
}
footer .col:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
footer .col:last-child img {
  width: 4rem;
}
footer .col:last-child .box {
  padding: 1rem 0;
  width: 100%;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (width < 967px) {
  footer {
    text-align: center;
  }
  .social {
    justify-content: center;
  }
}/*# sourceMappingURL=styles.css.map */