// general rules
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-transform: capitalize;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Cairo", sans-serif;
	counter-reset: services;
}
@mixin center {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin zigzag() {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 30px;
	z-index: 1;
	background-image: linear-gradient(135deg, white 25%, transparent 25%),
		linear-gradient(225deg, white 25%, transparent 25%);
	background-size: 30px 30px;
}
a,
li {
	text-decoration: none;
	cursor: pointer;
}
ul {
	list-style: none;
}
:root {
	--blue: #2196f3;
	--grey: #ececec;
	--sec_text: #777;
	--main_transition: 0.3s;
	--section_padding: 5rem 0;
}
.container {
	width: 75%;
	margin: auto;
	flex-wrap: wrap;
}
section {
	padding: var(--section_padding);
}

// navbar
nav {
	background-color: white;
	width: 100%;
	.container {
		height: 100%;
		position: relative;
		display: flex;
		justify-content: space-between;
	}
	.navLeft {
		@include center();
	}
	h3 {
		color: var(--blue);
		font-weight: 900;
		font-size: 1.8rem;
	}
	.navRight {
		display: flex;
		gap: 3rem;
		font-size: large;
		& > li {
			font-size: 1.2rem;
			@include center();
			position: relative;
			padding: 1rem 1vw;
			p {
				min-width: 100%;
			}
			&::before {
				content: "";
				background-color: var(--blue);
				height: 0.3rem;
				width: 0%;
				position: absolute;
				top: 0;
				left: 0;
				transition: width var(--main_transition) linear;
				-webkit-transition: width var(--main_transition) linear;
				-moz-transition: width var(--main_transition) linear;
				-ms-transition: width var(--main_transition) linear;
				-o-transition: width var(--main_transition) linear;
			}
			&:hover::before {
				width: 100%;
			}
			&:hover {
				background-color: transparent;
			}
			&.last:hover ~ .mega_menu {
				display: flex;
				opacity: 1;
				top: calc(100% - 5px);
			}
		}
		.mega_menu {
			display: flex;
			justify-content: space-between;
			position: absolute;
			gap: 1rem;
			top: calc(100% + 30px);
			left: 0;
			opacity: 0;
			color: var(--blue);
			background-color: white;
			z-index: 3;
			width: 100%;
			border-bottom: 0.1rem solid var(--blue);
			padding: 2rem;
			transition: top var(--main_transition), opacity var(--main_transition);
			.center,
			.right {
				width: 100%;
			}
			.left img {
				background-size: cover;
			}
			ul {
				display: flex;
				flex-direction: column;
				gap: 1rem;
			}
			li {
				padding: 0.5rem 0;
				z-index: 33;
				width: 100%;
				display: flex;
				align-items: center;
				gap: 0.7rem;
				position: relative;
				transition: all var(--main_transition) ease-in-out;
				&:not(:last-child) {
					border-bottom: 0.1rem solid #e9e6e6;
				}
				&:hover::before {
					width: 100%;
				}
				&::before {
					content: "";
					background-color: #fafafa;
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 0;
					opacity: 0.5;
				}
				p {
					width: 100%;
				}
			}
		}
	}
}
@media (width < 970px) {
	.container {
		flex-direction: column;
	}
	.navRight {
		@include center();
		gap: 0 !important;
	}
}
@media (width < 1200px) {
	.navRight .mega_menu {
		.left {
			display: none;
		}
	}
}
@media (width < 767px) {
	.mega_menu {
		flex-direction: column;
		.center,
		.right {
			width: 100%;
		}
	}
	.navRight p {
		font-size: 0.5rem;
	}
}

//landing
#landing {
	height: calc(100vh - 5rem);
	position: relative;
	&::before {
		overflow: hidden;
		z-index: -1;
		content: "";
		position: absolute;
		top: -2rem;
		left: 0;
		width: 100%;
		height: 100%;
		transform: skewY(-6deg);
		transform-origin: top left;
		background-color: var(--grey);
	}
	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		z-index: 100;
	}
	.landTop {
		@include center();
		.landLeft {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 1rem;
			h2 {
				font-size: 2.5rem;
				font-weight: 900;
			}
			p {
				font-size: 1.7rem;
				color: #666;
				line-height: 2.5rem;
			}
		}
		.landRight {
			img {
				max-width: 100%;
				object-fit: cover;
				animation: updown 2s infinite alternate;
			}
		}
	}
	.landBottom {
		position: absolute;
		bottom: 1.5rem;
		margin-left: 50%;
		transform: translateX(-50%);
		animation: bounce 2s infinite;
		color: var(--blue);
	}
}
@keyframes updown {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-3rem);
	}
}
@keyframes bounce {
	0%,
	10%,
	20%,
	50%,
	100% {
		transform: translateY(0);
	}
	40%,
	70% {
		transform: translateY(-1rem);
	}
}
@media (width < 980px) {
	.landTop .landRight {
		display: none;
	}
	.landLeft {
		text-align: center;
	}
}
@media (width < 600px) {
	.landLeft p {
		font-size: 1.2rem !important;
	}
}

// articles
#articles {
	@include center();
	.container {
		display: flex;
		flex-direction: column;
		.grid {
			width: 100%;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
			gap: 2rem;
			.item {
				display: flex;
				flex-direction: column;
				border-radius: 1rem;
				overflow: hidden;
				-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.31);
				-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.31);
				box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.31);
				transition: all var(--main_transition) ease-in;
				&:hover {
					transform: translateY(-1rem);
					-webkit-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.87);
					-moz-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.87);
					box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.87);
					.bottom i {
						animation: arrow var(--main_transition) infinite alternate;
					}
				}
				.top {
					img {
						max-width: 100%;
						object-fit: cover;
					}
				}
				.center {
					padding: 1rem 1.2rem;
					h5 {
						font-size: 1.2rem;
					}
					p {
						color: #666;
					}
				}
				.bottom {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 1rem 1.2rem;
					color: var(--blue);
					font-weight: 700;
					border-top: 1px solid #e6e6e7;
					i {
						transition: all 0.8s;
					}
				}
			}
		}
	}
}
@keyframes arrow {
	to {
		transform: translateX(0.5rem);
	}
}
.specialHeading {
	margin-bottom: 6rem;
	margin-left: 50%;
	transform: translateX(-50%);
	text-align: center;
	width: fit-content;
	border: 0.1rem solid black;
	padding: 0.1rem 1rem;
	position: relative;
	&:hover {
		color: white;
		transition-delay: var(--main_transition);
		&::before {
			animation: moveRight var(--main_transition) forwards;
		}
		&::after {
			animation: moveLeft var(--main_transition) forwards;
		}
	}
	h2 {
		font-size: 1.6rem;
		font-weight: 900;
		text-transform: uppercase;
	}
	&::before,
	&::after {
		content: "";
		position: absolute;
		height: 0.7rem;
		width: 0.7rem;
		border-radius: 50%;
		background-color: var(--blue);
		top: 50%;
		transform: translateY(-50%);
	}
	&::before {
		left: -1.5rem;
	}
	&::after {
		right: -1.5rem;
	}
}
@keyframes moveRight {
	to {
		left: 0;
		border-radius: 0;
		width: 51%;
		height: 100%;
		z-index: -1;
	}
}
@keyframes moveLeft {
	to {
		right: 0;
		border-radius: 0;
		width: 50%;
		height: 100%;
		z-index: -1;
	}
}
//gallery
#gallery {
	position: relative;
	&::before {
		@include zigzag();
	}
	background-color: var(--grey);
	.grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
		gap: 2rem;
		.item {
			max-width: 100%;
			padding: 1rem;
			-webkit-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.42);
			-moz-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.42);
			box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.42);
			&:hover img {
				transform: rotate(5deg) scale(1.1);
			}
			.box {
				overflow: hidden;
				position: relative;
				&::before {
					content: "";
					position: absolute;
					background-color: rgb(255 255 255 / 20%);
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					opacity: 0;
					height: 0;
					width: 0;
					transition: all var(--main_transition) ease-in-out;
					z-index: 9999;
				}
			}
			&:hover .box::before {
				height: 100%;
				width: 100%;
				animation: flash var(--main_transition) forwards;
			}
		}
		@keyframes flash {
			50%,
			60%,
			70%,
			80% {
				opacity: 1;
			}
			100% {
				opacity: 0;
			}
		}
		img {
			max-width: 100%;
			object-fit: cover;
			transition: all var(--main_transition);
		}
	}
}
// features
#features {
	.grid {
		display: grid;
		gap: 2rem;
		grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
		.item {
			border: 1px solid #ccc;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.imgContainer {
				transition: all var(--main_transition) ease-in-out;
				clip-path: polygon(0 0, 100% 0, 100% 60%, 0 85%);
				position: relative;
				&::before {
					content: "";
					position: absolute;
					top: 0;
					height: 100%;
					width: 100%;
				}
			}
			&:hover {
				button {
					color: white !important;
				}
				button::before {
					left: 0;
				}
				.imgContainer {
					clip-path: polygon(0 0, 100% 0, 100% 85%, 0 60%);
				}
			}
			img {
				max-width: 100%;
				object-fit: cover;
			}
			h3 {
				letter-spacing: 0.2rem;
				font-size: 2rem;
				font-weight: 900;
				margin-left: 50%;
				transform: translateX(-50%);
				text-align: center;
				width: fit-content;
				position: relative;
				&::after {
					content: "";
					position: absolute;
					top: 110%;
					left: 50%;
					transform: translateX(-50%);
					height: 0.4rem;
					width: 75%;
				}
			}
			&:nth-child(1) {
				h3::after {
					background-color: #f44036;
				}
				button {
					color: #f44036;
					border: 0.2rem solid #f44036;
					&::before {
						background-color: #f44036;
					}
				}
				.imgContainer::before {
					background-color: rgb(244 64 54 / 60%);
				}
			}
			&:nth-child(2) {
				h3::after {
					background-color: #009688;
				}
				button {
					color: #009688;
					border: 0.2rem solid #009688;
					&::before {
						background-color: #009688;
					}
				}
				.imgContainer::before {
					background-color: rgb(0 150 136 / 60%);
				}
			}
			&:nth-child(3) {
				h3::after {
					background-color: #03a9f4;
				}
				button {
					color: #03a9f4;
					border: 0.2rem solid #03a9f4;
					&::before {
						background-color: #03a9f4;
					}
				}
				.imgContainer::before {
					background-color: rgb(3 169 244 / 60%);
				}
			}
			p {
				text-align: center;
				color: #777;
				line-height: 2rem;
				font-size: 1.2rem;
				padding: 4rem 1rem;
			}
			button {
				border-radius: 0.5rem;
				overflow: hidden;
				margin-left: 50%;
				transform: translateX(-50%);
				background-color: white;
				font-size: 1.2rem;
				font-weight: 700;
				width: fit-content;
				padding: 1rem 2rem;
				margin-bottom: 1.5rem;
				position: relative;
				transition: all var(--main_transition) linear;
				&::before {
					transition: all var(--main_transition) linear;
					content: "";
					position: absolute;
					top: 0;
					left: -100%;
					width: 100%;
					height: 100%;
					z-index: -1;
				}
			}
		}
	}
}
// testimonials
#testimonials {
	background-color: var(--grey);
	.grid {
		display: grid;
		gap: 2rem;
		grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
		.item {
			position: relative;
			background-color: white;
			padding: 1rem;
		}
		img {
			object-fit: cover;
			border-radius: 50%;
			width: 7rem;
			height: 7rem;
			border: 0.5rem solid var(--grey);
			position: absolute;
			top: -2.5rem;
			right: -0.1rem;
		}
		h5 {
			font-weight: 900;
			font-size: 80%;
		}
		h6 {
			font-weight: normal;
			color: #777;
			font-size: 80%;
		}
		.rating {
			color: goldenrod;
		}
		p {
			color: #777;
		}
	}
}
// members
#members {
	.grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
		gap: 2rem;
	}
	img {
		max-width: 100%;
		object-fit: cover;
		border-radius: 0.7rem;
		height: 70%;
		transition: var(--main_transition);
	}
	.item {
		padding-top: 3rem;
		padding-right: 3rem;
		position: relative;
		overflow: hidden;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			background-color: #f3f3f3;
			height: 100%;
			width: 80%;
			z-index: -1;
			border-radius: 0.7rem;
		}
		&::after {
			content: "";
			position: absolute;
			background-color: #e4e4e4;
			top: 0;
			right: 0;
			width: 0;
			height: 100%;
			z-index: -1;
			transition: var(--main_transition);
			border-radius: 0.7rem;
		}
		&:hover {
			&::after {
				width: 80%;
			}
			img {
				filter: grayscale(100%);
			}
		}
		.img_social {
			width: 100%;
			z-index: 2;
			display: flex;
			gap: 1.5rem;
			.social {
				@include center();
				flex-direction: column;
				gap: 2rem;
				transform: translateX(-50%);
				color: #777;
				font-size: 1.5rem;
				i {
					cursor: pointer;
					transition: var(--main_transition);
					&:hover {
						color: var(--blue);
					}
				}
			}
		}
		.info {
			padding: 1rem 0 1rem 6rem;
			h3 {
				color: var(--blue);
				font-size: 1.3rem;
			}
		}
	}
}
//services
#services {
	position: relative;
	&::before {
		@include zigzag();
	}
	background-color: var(--grey);
	.grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
		gap: 3rem;
		.item {
			background-color: white;
			counter-increment: services;
			display: flex;
			flex-direction: column;
			-webkit-box-shadow: 0px 0px 19px -5px rgba(0, 0, 0, 0.63);
			-moz-box-shadow: 0px 0px 19px -5px rgba(0, 0, 0, 0.63);
			box-shadow: 0px 0px 19px -5px rgba(0, 0, 0, 0.63);
			position: relative;
			transition: var(--main_transition);
			&:hover {
				transform: translateY(-1rem);
				&::before {
					width: 100%;
				}
			}
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				height: 0.2rem;
				width: 0;
				background-color: var(--blue);
				transition: var(--main_transition);
			}
			.top {
				@include center();
				flex-direction: column;
				gap: 1rem;
				padding: 2rem 0;
				color: #d5d5d5;
				h3 {
					color: var(--blue);
					font-size: 1.5rem;
					font-weight: 900;
				}
			}
			.bottom {
				@include center();
				justify-content: flex-end;
				padding: 1rem 2rem;
				position: relative;
				background-color: #f9f9f9;
				overflow: hidden;
				&::before,
				&::after {
					position: absolute;
					bottom: 0;
					height: 100%;
				}
				&::before {
					left: 0;
					background-color: var(--blue);
					content: "0" counter(services);
					@include center();
					width: 20%;
					font-size: 1.5rem;
					font-weight: 900;
					color: white;
					padding-right: 1.2rem;
				}
				&::after {
					content: "";
					left: 20%;
					transform: skewX(-30deg);
					width: 15%;
					background-color: #d5d5d5;
				}
			}
		}
	}
}
//skills
#skills {
	.content {
		display: flex;
	}
	.left {
		@include center();
		img {
			max-width: 100%;
			object-fit: cover;
		}
	}
	.right {
		display: flex;
		flex-direction: column;
		flex: 1;
		gap: 1rem;
		.skill {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			&:first-child,
			&:last-child {
				.bar::before {
					width: 80%;
				}
			}
			&:nth-child(2) {
				.bar::before {
					width: 85%;
				}
			}
			&:nth-child(3) {
				.bar::before {
					width: 70%;
				}
			}
			.name_stat {
				@include center();
				justify-content: space-between;
				h6 {
					font-size: 1.2rem;
					text-transform: uppercase;
				}
				p {
					border: 0.1rem solid #ccc;
					border-radius: 0.2rem;
					padding: 0.1rem;
					color: var(--blue);
					font-weight: 900;
					font-size: small;
					background-color: white;
				}
			}
			.bar {
				position: relative;
				width: 100%;
				height: 2rem;
				background-color: #eee;
				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					background-color: var(--blue);
					z-index: 2;
				}
			}
		}
	}
	@media (width < 767px) {
		.content .left {
			display: none;
		}
	}
}
//work
#work {
	background-color: var(--grey);
	img {
		max-width: 100%;
		object-fit: contain;
	}
	.content {
		z-index: 2000;
		display: flex;
		gap: 1rem;
	}
	.left {
		flex: 1;
		@include center();
	}
	.right {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		.box {
			display: flex;
			flex: 1;
			background-color: #f6f5f5;
			border: 1px solid white;
			padding: 1rem 2rem;
			gap: 2rem;
			position: relative;
			border-radius: 1rem;
			&:hover::before {
				width: 100%;
				height: 100%;
			}
			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 0;
				height: 0;
				transition: var(--main_transition);
				background-color: rgb(213 213 213 / 30%);
				border-radius: 1rem;
			}
			img {
				width: 5rem;
			}
			.right {
				flex: 1;
				h3 {
					font-weight: 900;
					font-size: 1.4rem;
				}
				p {
					color: #777;
				}
			}
		}
	}
	@media (width < 1000px) {
		.content {
			flex-direction: column;
		}
	}
	@media (width < 767px) {
		.box {
			flex-direction: column;
			@include center();
			text-align: center;
		}
	}
}
section .dots {
	background-image: url(./imgs/dots.png);
	position: absolute;
	height: 12rem;
	width: 12rem;
	&.up {
		top: 25%;
		right: 0;
	}
	&.down {
		bottom: 20%;
		left: 0;
	}
}
//event
#event {
	position: relative;
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 5rem;
	}
	img {
		max-width: 100%;
		object-fit: cover;
	}
	.content {
		display: flex;
		.left {
			width: 40%;
		}
		.right {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			flex: 1;
			gap: 4rem;
			.text {
				text-align: center;
				h3 {
					font-size: 4vw;
					font-weight: 900;
				}
				p {
					color: #666;
					font-size: 80%;
					line-height: 2rem;
				}
			}
		}
		.timer {
			display: flex;
			justify-content: center;
			gap: 1rem;
			.box {
				&:hover {
					border-color: var(--blue);
					p {
						border-color: var(--blue);
					}
				}
				border: 1px solid #d4d4d4;
				border-radius: 0.5rem;
				max-width: 5rem;
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				transition: var(--main_transition);
				h6 {
					color: var(--blue);
					font-size: 3.5vw;
					padding: 1rem 0.5rem;
				}
				p {
					border-top: 1px solid #d4d4d4;
					width: 100%;
					font-size: small;
				}
			}
		}
	}
	.subscribe {
		background-color: #f6f5f5;
		border-radius: 10rem;
		padding: 2rem 3rem;
		@include center();
		gap: 1rem;
		max-width: 100%;
		input {
			border-radius: 10rem;
			padding: 1.5rem 10rem;
			padding-left: 1rem !important;
			border: none;
			width: 100%;
			&:focus {
				outline: none;
			}
		}
		button {
			background-color: var(--blue);
			border-radius: 5rem;
			border: none;
			color: white;
			padding: 1rem 2rem;
			font-size: 1rem;
			font-weight: 700;
			width: fit-content;
			cursor: pointer;
			&:hover {
				background-color: #1680d7;
			}
		}
	}
	@media (width < 1080px) {
		.content .left {
			display: none;
		}
	}
	@media (width < 800px) {
		.subscribe {
			flex-direction: column;
			border-radius: 0;
			input,
			button {
				border-radius: 0;
			}
		}
	}
}
//pricing
#pricing {
	background-color: var(--grey);
	position: relative;
	.container {
		display: flex;
		gap: 2rem;
	}
	.plan.most {
		transform: translateY(-1rem);
		.label {
			color: white;
			font-weight: 900;
			font-size: 1.2rem;
			@include center();
			justify-content: start;
			padding-top: 0.5rem;
			writing-mode: vertical-lr;
			position: absolute;
			top: 0;
			right: 1.5rem;
			background-color: var(--blue);
			width: 2.5rem;
			height: 10rem;
			&::before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				border-style: solid;
				border-color: transparent transparent white;
				border-width: 1.5rem;
			}
		}
	}
	@media (width < 767px) {
		.plan.most {
			transform: translateY(0);
		}
	}
	.plan {
		position: relative;
		z-index: 900;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		flex: 1;
		@include center();
		flex-direction: column;
		text-align: center;
		background-color: white;
		box-shadow: -2px 1px 8px -2px rgba(0, 0, 0, 0.75);
		-webkit-box-shadow: -2px 1px 8px -2px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: -2px 1px 8px -2px rgba(0, 0, 0, 0.75);
		padding: 1rem 0;
		&:hover {
			&::before,
			&::after {
				width: 100%;
			}
		}
		&::before,
		&::after {
			content: "";
			z-index: -1;
			background-color: #f6f6f6;
			position: absolute;
			height: 50%;
			width: 0;
			transition: var(--main_transition);
		}
		&::before {
			top: 0;
			left: 0;
		}
		&::after {
			bottom: 0;
			right: 0;
		}
		.top {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			h3 {
				font-size: 3.5rem;
				font-weight: 900;
				color: var(--blue);
				padding: 0;
			}
			p {
				font-size: 1rem;
				color: #777;
			}
		}
		.top,
		.center,
		.bottom {
			width: 100%;
			@include center();
		}
		.center {
			flex-direction: column;
			li {
				border-top: 1px solid #eee;
				width: 100%;
				display: flex;
				align-items: center;
				padding: 1rem 1rem;
				font-size: 1.1rem;
				font-weight: normal;
				i {
					color: var(--blue);
					margin-right: 1rem;
					font-weight: 900;
				}
			}
		}
		h2 {
			font-weight: 900;
		}
		img {
			max-width: 100%;
			object-fit: cover;
			width: 5rem;
		}
	}
	.bottom {
		padding: 1.5rem 0;
	}
	button {
		background-color: white;
		color: var(--blue);
		border: 0.1rem solid var(--blue);
		border-radius: 0.4rem;
		padding: 1rem 1.5rem;
		font-size: 1rem;
		font-weight: 700;
		transition: var(--main_transition);
		cursor: pointer;
		&:hover {
			background-color: var(--blue);
			color: white;
		}
	}
}
//videos
#videos {
	.container {
		border: 1px solid #ddd;
		display: flex;
	}
	img {
		max-width: 100%;
		height: 75%;
		width: 100%;
		object-fit: cover;
	}
	.header {
		background-color: #f4f4f4;
		@include center();
		justify-content: space-between;
		padding: 0.5rem 1rem;
	}
	.left {
		flex: 1;
		li {
			transition: var(--main_transition);
			padding: 1rem;
			&:not(:last-child) {
				border-bottom: 1px solid #ddd;
			}
			span {
				color: #666;
			}
			&:hover {
				p {
					color: var(--blue);
				}
				& {
					background-color: #fafafa;
				}
			}
		}
	}
	.right {
		flex: 3;
		padding: 1rem;
		background-color: #e2e2e2;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 1rem;
		h4 {
			background-color: white;
			padding: 1rem;
			font-weight: normal;
		}
	}
}
//stats
#stats {
	position: relative;
	background-image: url(imgs/stats.jpg);
	min-height: 300px;
	.container {
		flex-direction: column;
		@include center();
		gap: 2rem;
		h2 {
			color: black;
			position: relative;
			text-align: center;
			font-size: 2rem;
			font-weight: 900;
		}
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgb(255 255 255 / 95%);
	}
	.content {
		display: flex;
		justify-content: center;
		gap: 2rem;
		flex-wrap: wrap;
	}
	.box {
		min-width: 15rem;
		height: fit-content;
		position: relative;
		background-color: white;
		z-index: 2;
		@include center();
		flex-direction: column;
		padding: 2rem 0;
		font-weight: 900;
		i {
			font-size: 2rem;
		}
		h5 {
			font-size: 2.5rem;
		}
		p {
			color: var(--blue);
			font-size: 1.2rem;
		}
		&::before,
		&::after {
			content: "";
			position: absolute;
			transition: var(--main_transition);
			width: 0.2rem;
			height: 0;
			background-color: var(--blue);
		}
		&::before {
			bottom: 0;
			left: 0;
		}
		&::after {
			top: 0;
			right: 0;
		}
		&:hover {
			&::before,
			&::after {
				height: 100%;
			}
		}
	}
}
//discount
#discount {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	.left,
	.right {
		@include center();
		flex-direction: column;
		gap: 1rem;
		flex: 1;
		padding: 4rem 0;
		.content {
			width: 60%;
			z-index: 2;
			text-align: center;
			@include center();
			flex-direction: column;
			gap: 1.5rem;
		}
	}
	.left {
		position: relative;
		background-image: url(imgs/discount-background1.jpg);
		background-size: cover;
		color: white;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgb(23 135 224 / 97%);
		}
		img {
			object-fit: cover;
			max-width: 100%;
			width: 55%;
		}
	}
	.right {
		input,
		textarea {
			width: 100%;
			background-color: #f9f9f9;
			border: none;
			border-bottom: 1px solid #ccc;
			padding: 1rem 3rem 1rem 1rem;
			caret-color: var(--blue);
			&:focus {
				outline: none;
			}
		}
	}

	h2 {
		font-size: 160%;
	}
	button {
		background-color: var(--blue);
		color: white;
		padding: 1rem 2rem;
		border: none;
		width: 100%;
		cursor: pointer;
		font-size: 1.2rem;
		&:hover {
			background-color: #1680d7;
		}
	}
}
@media (width < 850px) {
	#discount {
		flex-direction: column;
	}
}
//footer
footer {
	background-color: black;
	color: white;
	@include center();
	flex-direction: column;
	i {
		color: var(--blue);
	}
	li {
		p {
			width: 100%;
		}
	}
	.col {
		flex: 1;
	}
	.container {
		display: flex;
		gap: 2rem;
	}
	img {
		max-width: 100%;
		object-fit: cover;
	}
	.col:not(:last-child) {
		padding: 1.5rem 0;
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		h2 {
			font-size: 2rem;
		}
		p {
			color: #b9b9b9;
		}
	}
	.social {
		display: flex;
		gap: 1rem;
		i {
			background-color: #313131;
			color: #b9b9b9;
			padding: 1rem;
		}
	}
	.col:nth-child(2) {
		li {
			transition: var(--main_transition);
		}
		i {
			color: var(--blue);
			margin-right: 0.5rem;
		}
		li:hover {
			transform: translateX(1rem);
		}
	}
	.col:nth-child(3) {
		li {
			display: flex;
			align-items: center;
			gap: 1rem;
			i {
				font-size: 1.5rem;
				width: fit-content;
			}
			.tel {
				width: 100%;
			}
		}
	}
	.col:last-child {
		@include center();
		flex-wrap: wrap;
		img {
			width: 4rem;
		}
		.box {
			padding: 1rem 0;
			width: 100%;
			gap: 1rem;
			@include center();
			flex-wrap: wrap;
		}
	}
}
@media (width < 967px) {
	footer {
		text-align: center;
	}
	.social {
		justify-content: center;
	}
}
